<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Hangman</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
          // Flask variables may case warnings in the IDE, but they are valid
          var isGameActive = {{ 'true' if started and not paused else 'false' }};

          var interval = setInterval(function() {
              if (!isGameActive) {
                  clearInterval(interval);
                  return;
              }

            $.ajax({
            url: "/time",
            type: "get",
            success: function(response) {
                if(response == '0:00' && $('#time').html != '0:00')
                {
                    // Stops requesting time updates once we hit 0:00
                    clearInterval(interval)
                    // Create a form with the 'Guess' field and submit it to end the game
                    var form = $('<form></form>');
                    form.attr("method", "post");
                    form.attr("action", "/");
                    // Add a hidden field for 'Guess'
                    var guessField = $('<input></input>');
                    guessField.attr("type", "hidden");
                    guessField.attr("name", "Guess");
                    guessField.attr("value", ""); // Empty value for 'Guess'
                    form.append(guessField);
                    // Add the control field to end the game
                    var controlField = $('<input></input>');
                    controlField.attr("type", "hidden");
                    controlField.attr("name", "Control");
                    controlField.attr("value", "timeout");
                    form.append(controlField);
                    // Append the form to the body and submit it
                    $(document.body).append(form);
                    form.submit();
                }
                $('#time').html(response);
            },
            error: function(xhr) {
                console.log("error here")
                //Handle error
            }
            });
        }, 1000);

        function updateGameActiveStatus(status) {
            isGameActive = status;
            if (status) {
                startTimer();
            } else {
                clearInterval(interval);
            }
        }

        if (isGameActive) {
            startTimer();
        }
    </script>
  </head>
  <body>
    <h1>Welcome to Hangman</h1>

      <!-- Flash messages -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li onclick="closeFlashMessage(this)">
              <div class="flash-message">
                {{ message }}
                <span class="close-btn">×</span>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
      <img src="{{ drawing }}" class="drawing">
      <div class="game-info">

        {% if started %}
        <h2>Time: <span id="time">{{ time }}</span></h2>
        {% endif %}

        {% if not started %}
        <h2>Choose Difficulty</h2>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="easy">Easy</button>
        </form>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="medium">Medium</button>
        </form>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="hard">Hard</button>
        </form>
        {% endif %}

		{% if not paused %}
        <h2 style="display:inline;">Phrase: </h2>
        <h2 id="masked_phrase" style="display:inline";>{{ phrase }}</h2>
        <h3>Guessed: {{ guessed }}</h3>
        <form method="POST" class="form-container">
          <label for="Guess">Guess</label>
          <br>
          <input type="text" name="Guess" placeholder="Your Guess" maxlength="1" onkeydown="return /[a-z]/i.test(event.key)">
          <br>
          <button type="submit" onclick="stopTimer()">Submit</button>
        </form>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="pause" onclick="stopTimer()">Pause</button>
        </form>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="give_up" onclick="stopTimer()">Give Up</button>
        </form>
        <form method="POST" class="form-container">
          <button type="submit" name="Control" value="try_again" onclick="stopTimer()">Try Again</button>
        </form>
		{% elif started %}
        <h2>Game is Paused</h2>
        <form method="POST" class="form-container">
		  <button type="submit" name="Control" value="resume">Resume</button>
		</form>
		{% endif %}

      </div>
    </div>

    <script>
      // Function to close individual flash message
      function closeFlashMessage(element) {
        element.parentElement.style.display = 'none';
}
    </script>
</body>
</html>