h1 {
  border: 2px #eee solid;
  color: brown;
  text-align: center;
  padding: 10px;
}

#masked_phrase {
  font-family: Arial;
  letter-spacing: 0.1em;
}

.container {
  width: 100%;
}

.drawing {
  width: 50%;
  float: left;
}

.game-info {
  margin-left: 50%;
}

/* Button specific styles */
button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

/* Add a class to your forms to manage the spacing */
.form-container {
  margin-bottom: 15px;
}

/* Responsive button sizing */
@media (min-width: 768px) {
  button {
    width: auto;
    padding: 10px 20px;
  }
}

/* Styling for flash messages */
.flashes {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: auto;
}

.flashes li {
  background-color: #fff;
  color: #333;
  border-left: 5px solid #007bff;
  padding: 15px;
  margin-bottom: 10px;
  list-style: none;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.flashes li .close-btn {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 3.2em;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  text-align: center;
  line-height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}
